<div class="sidebar">
    <div class="logo text-center">
        <img src="/logo.png" alt="Logo" width="100" height="25">
    </div>
    <hr>
    <div class="sidebar__user">
        <img src="" alt="Photo Profile" class="sidebar__user__img">
    </div>
    <p class="sidebar__user_name">
        Admin
    </p>
    <a routerLink="/administration/dashboard"><i class="icon-dashboard"></i><span class="icon__name">Dashboard</span></a>
    <a href="#"><i class="icon-chart"></i><span class="icon__name">Analytics</span></a>
    <a routerLink="/administration/view-products"><i class="icon-products"></i><span class="icon__name">Products</span></a>
    <a href="#"><i class="icon-settings"></i><span class="icon__name">Settings</span></a>
</div>

<div class="content">
    <div class="navbar">
        <i class="icon-hamburger" id="menuToggle"></i>
        <h5>MyBookStore Overview</h5>
        <div class="icons">
            <a href=""><i class="icon-search"></i></a>
            <a href=""><i class="icon-bell"></i></a>
        </div> 
    </div>
    
    <router-outlet></router-outlet>
    
    <app-footer></app-footer>
</div>
