<div class="container mt-5">
    <h2 class="text-center">Product List</h2>
    <a routerLink="/admin/products" class="btn btn-primary">Add new product</a>

    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price (€)</th>
                <th>Stock</th>
                <th>Availability</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>
                    <img *ngIf="product.imageUrl" [src]="product.imageUrl" alt="{{ product.name }}" width="150" height="130" class="img-thumbnail">
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.price | currency:'EUR' }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <span class="badge bg-success" *ngIf="product.isAvailable">Available</span>
                    <span class="badge bg-danger" *ngIf="!product.isAvailable">Not Available</span>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" *ngIf="product.id !== undefined" (click)="deleteProduct(product.id)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
