<div class="sidebar">
    <div class="logo">
        <img src="#" alt="Logo">
    </div>
    <div class="sidebar__user">
        <img src="#" alt="Photo Profile" class="sidebar__user__img">
    </div>
    <p class="sidebar__user_name">
        John Doe
    </p>
    <hr>
    <a routerLink="/admin/dashboard"><i class="icon-dashboard"></i><span class="icon__name">Dashboard</span></a>
    <a href="#"><i class="icon-chart"></i><span class="icon__name"></span>Analytics</a>
    <a href="#"><i class="icon-settings"></i><span class="icon__name"></span>Settings</a>
    <a routerLink="/admin/view-products"><i></i><span>Products</span></a>
</div>
