<div class="sidebar">
    <div class="logo">
        <img src="#" alt="Logo">
    </div>
    <div class="sidebar__user">
        <img src="#" alt="Photo Profile" class="sidebar__user__img">
    </div>
    <p class="sidebar__user_name">
        John Doe
    </p>
    <hr>
    <a href=""><i class="icon-dashboard"></i><span class="icon__name">Dashboard</span></a>
    <a href=""><i class="icon-chart"></i><span class="icon__name"></span>Analytics</a>
    <a href=""><i class="icon-settings"></i><span class="icon__name"></span>Settings</a>
</div>



<div class="container mt-4">
    <h1 class="mb-4">Dashboard Admin</h1>
    <a routerLink="/admin/view-products" class="btn btn-primary">Products</a>
</div>
