<div class="container mt-4">
    
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>

    <div *ngIf="products.length === 0" class="alert alert-warning text-center mt-3">
        No products available to display.
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let product of products">
            <div *ngIf="products.length > 0">
                <div class="card shadow-sm h-100">
                    <div class="card-header text-center">
                        <a [routerLink]="['/home/catalog/product-details', product.id]">
                            <img *ngIf="product.imageUrls.length > 0" [src]="product.imageUrls[0]" class="product-image" alt="{{ product.name }}">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a [routerLink]="['/home/catalog/product-details', product.id]" class="text-decoration-none text-dark">
                                {{ product.name }}
                            </a> 
                        </h5>
                        <p><strong>Price:</strong> {{ product.price | currency:'EUR' }}</p>    
                        <p>
                            <strong>Availability: </strong>
                            <span class="badge bg-success" *ngIf="product.isAvailable">Available</span>
                            <span class="badge bg-danger" *ngIf="!product.isAvailable">Not Available</span>
                        </p>
                        <div class="mt-2 mb-2">
                            <button *ngIf="product.isAvailable" class="btn btn-primary">Add to cart</button>
                            <button *ngIf="!product.isAvailable" disabled class="btn btn-secondary">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
