<div class="container">
    
    <h2 class="text-center">Products List</h2>

    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>

    <div *ngFor="let product of products">
        <div class="card mt-2">
            <img src="#" alt="Product Image">
            <div>
                {{ product.name }}
                
            </div>
           <div>
                {{ product.description }}
           </div>
           <div>
                {{ product.price | currency:'EUR' }}
                {{ product.isAvailable}}
           </div>
           <div>
            <button class="btn btn-primary">Add to cart</button>
           </div>
        </div>
    </div>

</div>
