<div class="container mt-5">
    <h2>Add new product</h2>
    <form (submit)="uploadImageAndSaveProduct(); $event.preventDefault()">
        <div class="mb-3">
            <label class="form-label">Product name</label>
            <input type="text" class="form-control" [(ngModel)]="product.name" name="name" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" [(ngModel)]="product.description" name="description" required></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" [(ngModel)]="product.price" name="price" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Stock</label>
            <input type="number" class="form-control" [(ngModel)]="product.stock" name="stock" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Select category</label>
            <select class="form-select"[(ngModel)]="product.categoryName" name="categoryName" required>
                <option value="" disabled>Select category</option>
                <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Select an image</label>
            <input type="file" class="form-control" (change)="onFileSelected($event)" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Add product</button>
    </form>
</div>
